<!DOCTYPE html>
<html lang="ru" class="reset">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="ru">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=552">
	<script src="https://cdn.jsdelivr.net/vue/2.1.10/vue.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/velocity/1.4.3/velocity.min.js" type="text/javascript"></script> -->
	<!-- <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.2/sweetalert2.min.js" type="text/javascript"></script> -->
	<!-- <script src="materialbox.js" type="text/javascript"></script> -->
	<script src="pay.js" type="text/javascript"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.2/sweetalert2.min.css">
	<link href="pay.css" rel="stylesheet">
	<title>Pay</title>
</head>
<body class="reset">
	<div id="app">
		<pay></pay>
	</div>
	<template id="tpl-pay">
		<div class="roboto-400 c-root">
			<div class="c-header">
				<p class="c-header__h reset">{{header}}</p>
				<p class="c-header__h2 reset">{{subheader}}</p>
			</div>
			<div class="c-sp_30"></div>
			<div class="c-info">
				<div class="c-info__c-table c-table c-table_fullscreen">
					<div class="c-table__row" v-for="(val, key) in data.info">
						<div class="c-table__cell c-info__key">{{key}}</div>
						<div
							class="c-table__cell c-info__val"
							:class="{'c-info__val_price roboto-700': key === 'Цена'}"
						>
							{{val}} <span v-if="key === 'Цена'">руб.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="c-sp_30"></div>
			<div class="c-select-pay">
				<p class="c-select-pay__header reset">Пожалуйста, выберите любой доступный способ оплаты:</p>
				<div class="c-select-pay__list clearfix">
					<div
						class="c-select-pay__list-item"
						v-for="pay in pays"
					>
						<div>
							<img :src="pay.img" alt="" class="c-select-pay__list-item-img">
							<p class="c-select-pay__list-item-name">{{pay.name}}</p>
							<p class="c-select-pay__list-item-button" v-html="pay.form"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
</body>
</html>