.roboto-300 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.roboto-400 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.roboto-700 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

html, body {
	min-width: 960px;
	font-size: 16px;
}
.reset {
	display: block;
	margin: 0;
	padding: 0;
}
.upper {
	text-transform: uppercase;
}
.clearfix {
	zoom: 1;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.color-black {
	color: #000;
}
.color-tomato {
	color: tomato;
}


#app {
	padding-top: 20px;
}

.c-table {
	display: table;
}
.c-table__row {
	display: table-row;
}
.c-table__cell {
	display: table-cell;
	vertical-align: middle;
}
.c-table__cell-top {
	display: table-cell;
	vertical-align: top;
}
.c-table__bottom {
	display: table-cell;
	vertical-align: bottom;
}
.c-table__cell-txt {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.c-table_fullscreen {
	width: 100%;
	height: 100%;
}

.c-sp_30 {
	height: 30px;
}
.c-sp_15 {
	height: 15px;
}

.c-root {
	margin: auto;
	width: 960px;
	padding: 20px 30px 40px;
	border: 1px solid #999;
	border-radius: 5px;
}

.c-input {
	width: 200px;
	height: 22px;
	padding-left: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	outline: none;
}
.c-input_is_valid {
	color: teal;
	border-color: teal;
}

.c-input-label {
	display: inline-block;
	font-size: 14px;
	color: tomato;
	padding-left: 20px;
}

.c-close-button {
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	cursor: pointer;
	border: 0;
	color: #FFF;
	font-size: 30px;
	background-color: tomato;
	outline: none;
}

.c-header {
	color: #ee7019;
}
.c-header__h {
	font-size: 35px;
}
.c-header__h2 {
	font-size: 25px;
}

.c-info {
	border: 1px solid #999;
	border-radius: 5px;
	padding: 20px 30px 40px;
}
.c-info__c-table .c-table__cell {
	padding: 8px 0;
	border-bottom: 1px solid #eee;
}
.c-info__val_price {
	font-size: 18px;
	color: red;
}
.c-info__header {
	color: #ee7019;
	padding: 15px 0;
}
.c-info__button {
	background-color: #f60;
	cursor: pointer;
	border: 0;
	height: 28px;
	border-radius: 3px;
	color: #FFF;
	padding: 0 20px;
}
.c-info_has_form .c-table__cell:first-child {
	width: 170px;
}

.c-select-pay {}
.c-select-pay__header {
	color: #ee7019;
	font-size: 18px;
	padding-bottom: 15px;
}
.c-select-pay__list-item {
	position: relative;
	width: 180px;
	height: 244px;
	text-align: center;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.c-select-pay__list-item_is_active,
.c-select-pay__list-item:hover {
	border-color: tomato;
}
.c-select-pay__list-item-img {
	width: 100%;
}
.c-select-pay__list-item-name {
	max-height: 40px;
	overflow: hidden;
}
.c-select-pay__c-close-button {
	position: absolute;
	left: 70px;
	bottom: -20px;
}