div#container
{
   width: 960px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
body
{
   text-align: center;
   margin: 0;
   background-color: #FFFFFF;
   background-image: url(images/bg21.png);
   color: #000000;
}
#wb_indexText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText1 div
{
   text-align: center;
}
#wb_indexText2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText2 div
{
   text-align: left;
}
#indexImage2
{
   border-width: 0;
}
#indexImage3
{
   border: 0px #000000 solid;
}
#wb_indexText3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText3 div
{
   text-align: center;
}
#indexImage4
{
   border: 0px #000000 solid;
}
#indexImage5
{
   border: 0px #000000 solid;
}
#indexImage6
{
   border: 0px #000000 solid;
}
#indexImage7
{
   border: 0px #000000 solid;
}
#indexImage8
{
   border: 0px #000000 solid;
}
#indexImage9
{
   border: 0px #000000 solid;
}
#indexImage10
{
   border: 0px #000000 solid;
}
#indexImage11
{
   border: 0px #000000 solid;
}
#wb_indexText4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText4 div
{
   text-align: left;
}
#wb_indexText5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText5 div
{
   text-align: left;
}
#wb_indexText6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText6 div
{
   text-align: left;
}
#wb_indexText7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText7 div
{
   text-align: left;
}
#wb_indexText8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText8 div
{
   text-align: left;
}
#wb_indexText9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText9 div
{
   text-align: left;
}
#wb_indexText10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText10 div
{
   text-align: left;
}
#wb_indexText11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText11 div
{
   text-align: left;
}
#wb_indexText12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText12 div
{
   text-align: left;
}
#wb_indexText13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText13 div
{
   text-align: left;
}
#wb_indexText14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText14 div
{
   text-align: left;
}
#wb_indexText15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText15 div
{
   text-align: left;
}
#wb_indexText16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText16 div
{
   text-align: left;
}
#wb_indexText17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText17 div
{
   text-align: left;
}
#wb_indexText18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText18 div
{
   text-align: left;
}
#wb_indexText19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText19 div
{
   text-align: left;
}
#indexImage12
{
   border: 0px #000000 solid;
}
#indexImage13
{
   border: 0px #000000 solid;
}
#wb_indexText21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText21 div
{
   text-align: center;
}
#wb_indexText22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText22 div
{
   text-align: left;
}
#wb_indexText23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText23 div
{
   text-align: left;
}
#wb_indexText24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText24 div
{
   text-align: left;
}
#wb_indexText25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText25 div
{
   text-align: left;
}
#wb_indexText26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText26 div
{
   text-align: left;
}
#wb_indexText27 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText27 div
{
   text-align: left;
}
#wb_indexText28 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText28 div
{
   text-align: left;
}
#wb_indexText29 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText29 div
{
   text-align: left;
}
#wb_indexText30 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText30 div
{
   text-align: left;
}
#indexImage23
{
   border: 0px #000000 solid;
}
#indexImage24
{
   border: 0px #000000 solid;
}
#wb_indexText31 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText31 div
{
   text-align: center;
}
#indexImage25
{
   border: 0px #000000 solid;
}
#wb_indexText32 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText32 div
{
   text-align: center;
}
#wb_indexText33 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText33 div
{
   text-align: center;
}
#wb_indexText34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText34 div
{
   text-align: center;
}
#wb_indexText35 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText35 div
{
   text-align: center;
}
#wb_indexText36 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText36 div
{
   text-align: center;
}
#wb_indexText37 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText37 div
{
   text-align: center;
}
#wb_indexText38 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText38 div
{
   text-align: center;
}
#wb_indexText39 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText39 div
{
   text-align: center;
}
#wb_indexText40 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText40 div
{
   text-align: center;
}
#indexImage29
{
   border: 0px #000000 solid;
}
#wb_indexForm2
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#indexEditbox3
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox4
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexButton2
{
   border: 0px #A9A9A9 solid;
   background-color: #74BDB4;
   background: -moz-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -webkit-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -o-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -ms-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   color: #F5F5F5;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 21px;
}
#wb_indexText41 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText41 div
{
   text-align: center;
}
#indexImage30
{
   border: 0px #000000 solid;
}
#wb_indexText42 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText42 div
{
   text-align: center;
}
#indexImage31
{
   border: 0px #000000 solid;
}
#indexImage32
{
   border: 0px #000000 solid;
}
#indexImage33
{
   border: 0px #000000 solid;
}
#wb_indexText43 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText43 div
{
   text-align: center;
}
#wb_indexText44 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText44 div
{
   text-align: center;
}
#wb_indexText45 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText45 div
{
   text-align: center;
}
#indexImage34
{
   border: 0px #000000 solid;
}
#indexImage35
{
   border: 0px #000000 solid;
}
#indexImage36
{
   border: 0px #000000 solid;
}
#indexImage37
{
   border: 0px #000000 solid;
}
#wb_indexText46 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText46 div
{
   text-align: left;
}
#wb_indexText47 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText47 div
{
   text-align: left;
}
#wb_indexText48 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText48 div
{
   text-align: center;
}
#indexImage38
{
   border: 0px #000000 solid;
}
#indexImage39
{
   border: 0px #000000 solid;
}
#indexImage40
{
   border: 0px #000000 solid;
}
#indexImage41
{
   border: 0px #000000 solid;
}
#wb_indexText50 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText50 div
{
   text-align: center;
}
#indexImage42
{
   border: 0px #000000 solid;
}
#indexImage43
{
   border: 0px #000000 solid;
}
#indexImage44
{
   border: 0px #000000 solid;
}
#indexImage45
{
   border: 0px #000000 solid;
}
#wb_indexText55 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText55 div
{
   text-align: center;
}
#wb_indexText56 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText56 div
{
   text-align: left;
}
#wb_indexText58 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText58 div
{
   text-align: center;
}
#wb_indexForm1
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#indexEditbox1
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox2
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexButton1
{
   border: 0px #A9A9A9 solid;
   background-color: #74BDB4;
   background: -moz-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -webkit-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -o-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -ms-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   color: #F5F5F5;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 21px;
}
#wb_indexText20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText20 div
{
   text-align: center;
}
#wb_indexForm3
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#indexEditbox5
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox6
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexButton3
{
   border: 0px #A9A9A9 solid;
   background-color: #74BDB4;
   background: -moz-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -webkit-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -o-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -ms-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   color: #F5F5F5;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 21px;
}
#wb_indexText49 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText49 div
{
   text-align: center;
}
#wb_indexForm4
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#indexEditbox7
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox8
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexButton4
{
   border: 0px #A9A9A9 solid;
   background-color: #74BDB4;
   background: -moz-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -webkit-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -o-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -ms-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   color: #F5F5F5;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 21px;
}
#wb_indexText57 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText57 div
{
   text-align: center;
}
#wb_indexText59 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText59 div
{
   text-align: left;
}
#wb_indexText60 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText60 div
{
   text-align: left;
}
#wb_indexText61 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText61 div
{
   text-align: center;
}
#indexPhotoGallery1
{
   border-spacing: 3px;
   width: 100%;
}
#indexPhotoGallery1 .figure
{
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#indexPhotoGallery1 .figure img
{
   border-width: 0;
}
#wb_indexText62 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText62 div
{
   text-align: center;
}
#indexPhotoGallery2
{
   border-spacing: 3px;
   width: 100%;
}
#indexPhotoGallery2 .figure
{
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#indexPhotoGallery2 .figure img
{
   border-width: 0;
}
#indexImage1
{
   border: 0px #000000 solid;
}
#wb_indexText63 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText63 div
{
   text-align: center;
}
#wb_indexText51 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText51 div
{
   text-align: left;
}
#wb_indexText52 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText52 div
{
   text-align: left;
}
#wb_indexText53 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText53 div
{
   text-align: left;
}
#wb_indexText54 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText54 div
{
   text-align: left;
}

.c-btn {
   cursor: pointer;
}
.c-price {
   font-size: 30px;
   color: tomato;
   font-weight: bold;
}
.c-btn-pay {
   display: block;
   width: 190px;
   height: 50px;
   background: #EE7019;
   cursor: pointer;
   text-decoration: none;
   color: #FFF !important;
   text-align: center;
   line-height: 50px;
   font-size: 20px;
   font-family: 'pt sans';
}
.c-btn-pay:hover {
   text-decoration: none;
}